.questionContainer{
  .skeleton{
    background-color: white;
    opacity: 0.2;
  }
  mat-form-field{
    width: 100%;
    &.noDisabled.mat-form-field-disabled{
      .mat-form-field-wrapper{
        .mat-form-field-flex{
          .mat-form-field-outline{
            color: rgba(0,0,0,0.87);
          }
          .mat-form-field-infix{
            input.mat-input-element{
              color: black;
            }
            .mat-form-field-label-wrapper{
              label.mat-form-field-label{
                color: rgba(0,0,0,.6);
              }
            }
          }
        }
      }
    }
  }
}

